<ActionBar>
    <!--
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton text="Go Back" android.systemIcon="ic_menu_back" (tap)="backButtonTab()"></NavigationButton>
    <Label [text]="this.contact.name"></Label>
</ActionBar>

<StackLayout class="page__content" style="padding: 10px">
    <Image class="nt-drawer__header-image t-36" [src]="this.contact.urlImage"></Image>
    <Label text="Teléfono" style="font-weight: bold"></Label>
    <Label [text]="this.contact.phone"></Label>
</StackLayout>
