<ActionBar>
    <!--
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!--
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
                ios.position="left">
    </ActionItem>
    <Label text="Lista de Contactos"></Label>
</ActionBar>

<StackLayout class="page__content" #layout>
    <ContactSearch (search)="this.buscar($event)"></ContactSearch>
    <RadListView class ='list-group' pullToRefresh="true"
                 [items]="this.contactList"
                 pullToRefresh="true"
                 (pullToRefreshInitiated)="onPullToRefreshInitiated($event)"
                 loadOnDemandMode="Manual"
                 (loadMoreDataRequested)="onLoadMoreDataInitiated($event)"
    >
        <ng-template let-contact="item" let-index="index">
            <FlexboxLayout flexDirection="row" class="list-group-item" style="padding: 10px;border-color: #ccc;border-bottom-width: 1";
                           (Longpress)="onLongPress(index)"
                           >
                <FlexboxLayout flexDirection="column"  style="padding: 10px" >

                    <FlexboxLayout flexDirection="row"  (tap)="onItemTap({index: index})">
                        <Image [src]="contact.urlImage" class="thumb img-circle" style=""></Image>
                        <Label [text]="contact.name" class="list-group-item-heading" verticalAlignment="center" style="color: black;width: 30%"></Label>

                        <Label [text]="contact.phone" class="list-group-item-heading" verticalAlignment="center" style="color: black;width: 30%"></Label>
                    </FlexboxLayout>

                    <FlexboxLayout flexDirection="row" style="z-index: 2;">
                        <Button text="Editar Teléfono" (tap)="this.editContactPhone(index)" style="z-index: 3" ></Button>
                        <FlexboxLayout (tap)="this.fav(index)" ) *ngIf="!this.favorites.includes(contact.name)">
                        <Label text="&#xf004;" class="fas" style="height: 60px;width: 60px;font-size: 20px" ></Label>
                        </FlexboxLayout>
                    </FlexboxLayout>
                </FlexboxLayout>
            </FlexboxLayout>
        </ng-template>
    </RadListView>
</StackLayout>
