<!--
RadSideDrawer is a UI component part of the Progress NativeScript UI set of components.
Learn more about the RadSideDrawer UI component and how it can be customized in this documentation article:
https://docs.nativescript.org/angular/ui/professional-ui-components/ng-SideDrawer/getting-started
-->
<RadSideDrawer [drawerTransition]="sideDrawerTransition">
    <GridLayout tkDrawerContent rows="auto, *" class="nt-drawer__content">
        <StackLayout row="0" class="nt-drawer__header">
            <Image class="nt-drawer__header-image t-36" src="res://foto_perfil"></Image>
            <Label class="nt-drawer__header-brand" [text]="this.nombreUsuario"></Label>
            <Label class="nt-drawer__header-footnote" [text]="this.emailUsuario"></Label>
        </StackLayout>

        <ScrollView row="1" class="nt-drawer__body">
            <StackLayout>
                <GridLayout columns="auto, *" class="nt-drawer__list-item" [class.-selected]="isComponentSelected('/home')" (tap)="onNavItemTap('/home')">
                    <Label col="0" text="&#xf095;" class="nt-icon fas"></Label>
                    <Label col="1" text="Llamadas" class="p-r-10"></Label>
                </GridLayout>

                <GridLayout columns="auto, *" class="nt-drawer__list-item" [class.-selected]="isComponentSelected('/contacts')" (tap)="onNavItemTap('/contacts')">
                    <Label col="0" text="&#xf2b9;" class="nt-icon fas"></Label>
                    <Label col="1" text="Contactos" class="p-r-10"></Label>
                </GridLayout>

                <GridLayout columns="auto, *" class="nt-drawer__list-item" [class.-selected]="isComponentSelected('/featured')" (tap)="onNavItemTap('/featured')">
                    <Label col="0" text="&#xf004;" class="nt-icon fas"></Label>
                    <Label col="1" text="Favoritos" class="p-r-10"></Label>
                </GridLayout>

                <GridLayout columns="auto, *" class="nt-drawer__list-item" [class.-selected]="isComponentSelected('/news')" (tap)="onNavItemTap('/news')">
                    <Label col="0" text="&#xf1ea;" class="nt-icon fas"></Label>
                    <Label col="1" text="Noticias" class="p-r-10"></Label>
                </GridLayout>

                <GridLayout columns="auto, *" class="nt-drawer__list-item" [class.-selected]="isComponentSelected('/browse')" (tap)="onNavItemTap('/browse')">
                    <Label col="0" text="&#xf279;" class="nt-icon fas"></Label>
                    <Label col="1" text="Map" class="p-r-10"></Label>
                </GridLayout>

<!--                <GridLayout columns="auto, *" class="nt-drawer__list-item" [class.-selected]="isComponentSelected('/search')" (tap)="onNavItemTap('/search')">-->
<!--                    <Label col="0" text="&#xf002;" class="nt-icon fas"></Label>-->
<!--                    <Label col="1" text="Search" class="p-r-10"></Label>-->
<!--                </GridLayout>-->

                <StackLayout class="hr"></StackLayout>

                <GridLayout columns="auto, *" class="nt-drawer__list-item" [class.-selected]="isComponentSelected('/settings')" (tap)="onNavItemTap('/settings')">
                    <Label col="0" text="&#xf013;" class="nt-icon fas"></Label>
                    <Label col="1" text="Settings" class="p-r-10"></Label>
                </GridLayout>

            </StackLayout>
        </ScrollView>
    </GridLayout>

    <page-router-outlet tkMainContent></page-router-outlet>
</RadSideDrawer>
