<ActionBar>
    <!--
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!--
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label text="Noticias"></Label>
</ActionBar>

<StackLayout class="page__content">
    <FlexboxLayout flexDirection="row">
        <TextField #texto="ngModel" [(ngModel)]="textFieldValue" width="80%" required></TextField>
        <FlexboxLayout  style="padding-right: 10px">
            <Button class="-primary" text="Buscar" (tap)="buscar()" ></Button>
        </FlexboxLayout>
    </FlexboxLayout>
    <ListView class ='list-group' [items]="this.resultados" >
        <ng-template let-x="item">
            <FlexboxLayout flexDirection="row" class="list-group-item">
                <Label [text]="x" class="list-group-item-heading" verticalAlignment="center" style="color: black" style="width: 60%"></Label>
                <Button class="page__friend_btn" text="Leer" (tap)="onItemTap(x)"></Button>
            </FlexboxLayout>
        </ng-template>
    </ListView>
</StackLayout>
