<ActionBar>
    <!--
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!--
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label text="Favoritos"></Label>
</ActionBar>

<GridLayout class="page__content">
    <ListView class ='list-group' [items]="this.favoritos" >
        <ng-template let-x="item">
            <FlexboxLayout flexDirection="row" class="list-group-item">
                <Label [text]="x" class="list-group-item-heading" verticalAlignment="center" style="color: black" style="width: 60%"></Label>
                <Button class="page__friend_btn" text="Llamar" (tap)="onTap(x)"></Button>
            </FlexboxLayout>
        </ng-template>
    </ListView>

</GridLayout>
