<ActionBar>
    <!--
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton text="Go Back" android.systemIcon="ic_menu_back" (tap)="backButtonTab()"></NavigationButton>
    <Label text="Noticias Amigos"></Label>
</ActionBar>

<GridLayout class="page__content">
<!--    <Label class="page__content-icon fas" text="&#xf1ea;"></Label>
    <Button text="Noticias de tus amigos" (tap)="onNavItemTap('/news/friends')"></Button>-->
    <Label class="page__content-icon fas nt-icon" text="&#xf1ea;" ></Label>
    <Label text="Noticias de tus amigos"><</Label>
</GridLayout>
