<ActionBar>
    <!--
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton text="Go Back" android.systemIcon="ic_menu_back" (tap)="backButtonTab()"></NavigationButton>
    <Label [text]="this.contact.name"></Label>
</ActionBar>

<StackLayout class="page__content" style="padding: 10px">
    <Image class="nt-drawer__header-image t-36" [src]="this.contact['urlImage']"></Image>
    <FlexboxLayout flexDirection="column">
        <label for="#name" style="font-weight: bold" text="Nombre"></label>
        <TextField #name="ngModel" [(ngModel)]="nameFieldValue" required minlen="3" [value]="this.contact['name']"></TextField>
        <Label *ngIf="name.hasError('required')" text="* Nombre requrido" color="red"></Label>
        <Label *ngIf="!name.hasError('required') && name.hasError('minlen')" text="*"></Label>
    </FlexboxLayout>
    <FlexboxLayout flexDirection="column">
        <label for="#phone" style="font-weight: bold" text="Teléfono"></label>
        <TextField #phone="ngModel" [(ngModel)]="phoneFieldValue" required [value]="this.contact['phone']"></TextField>
        <Label *ngIf="phone.hasError('required')" text="* Nombre requrido" color="red"></Label>
        <Label *ngIf="!phone.hasError('required') && phone.hasError('minlen')" text="*"></Label>
    </FlexboxLayout>
    <Button class="-primary" text="Guardar" (tap)="onButtonTab()" *ngIf="phone.valid"></Button>
</StackLayout>
