<ActionBar>
    <!--
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!--
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label text="Settings"></Label>
</ActionBar>

<GridLayout class="page__content" style="padding: 10px">
    <StackLayout row="0" class="" style="fon-size: 16px; margin: auto">
        <Button text="Cambiar Foto" (tap)="onImageTap()"></Button>
        <FlexboxLayout (tap)="onImageTap()">
            <Image class="t-36" src="{{this.imagePath}}" style="height: 300px" ></Image>
        </FlexboxLayout>
        <FlexboxLayout flexDirection="column">
            <label for="#name" style="font-weight: bold" text="Nombre"></label>
            <TextField #name="ngModel" [(ngModel)]="nombreUsuario" required minlen="3" [value]="this.nombreUsuario"></TextField>
            <Label *ngIf="name.hasError('required')" text="* Nombre requrido" color="red"></Label>
            <Label *ngIf="!name.hasError('required') && name.hasError('minlen')" text="*"></Label>
        </FlexboxLayout>
        <FlexboxLayout flexDirection="column">
            <label for="#phone" style="font-weight: bold" text="Email"></label>
            <TextField #email="ngModel" [(ngModel)]="emailUsuario" required [value]="this.emailUsuario"></TextField>
            <Label *ngIf="email.hasError('required')" text="* Email Requerido" color="red"></Label>
        </FlexboxLayout>
        <Button  text="Editar" class="-primary" (tap)="this.editUser()"></Button>
    </StackLayout>
</GridLayout>
