<ActionBar>
    <!--
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!--
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label text="Settings"></Label>
</ActionBar>

<GridLayout class="page__content" style="padding: 10px">
    <StackLayout row="0" class="" style="font-size: 16px">
        <Image class="t-36" src="res://foto_perfil" style="height: 300px"></Image>
        <FlexboxLayout >
            <Label style="font-weight: bold; margin-right: 20px;" text="Nombre:"></Label>
            <Label class="" [text]="this.nombreUsuario"></Label>
        </FlexboxLayout>
        <FlexboxLayout >
            <Label style="font-weight: bold; margin-right: 20px;" text="Email:"></Label>
            <Label class="" [text]="this.emailUsuario"></Label>
        </FlexboxLayout>
        <Button text="Editar" class="-primary" [nsRouterLink]="['edit']"></Button>
    </StackLayout>
</GridLayout>
